<h1>Welcome, <%= @user.username %>!</h1>

<p>
  Welcome to the grooviest photo gallery on the nets!
</p>

<p><strong>Captured</strong> holds all your photos in simple gallaries so they can do what they are meant to do - be viewed simply and easily.</p>

<p>
  You can visit us anytime at <%= link_to "Our site", root_url %>.
</p>
