<div class="col-xs-6 col-md-3">
  <div class="thumbnail ">
    <%= link_to image_tag(photo.img), gallery_photo_path(photo.galleries.first) %>
    <div class="caption photo">
      <p><%= simple_format photo.caption %></p>

      <hr class="photo">
      <h4 class="text-right">
        <%= link_to '#', title: "share" do%>
         <i class="glyphicon glyphicon-share"></i>
         <% end %>
      </h4>
    </div>
  </div>
</div>
