<div class="row">
  <h1>Galleries</h1>
  <hr>
</div>
<div class="row">
  <% galleries.each do |g| %>
  <% %>
    <div class="col-xs-6 col-md-3">
      <div class="thumbnail">

      </div>
      <% link_to image_tag(gallery.pic), gallery%>
    </div>
  <% %>

</div>
