<div class="jumbotron">
  <div class="row">
    <% message = current_user ? "Welcome to " : "Introducing "%>
    <h1><%= message %><em>Captured</em></h1>
    <p>A place for all your photo galleries</p>
    <p class="text-right">ALL YOUR GALLARY ARE MINE!</p>
    <p>
      <% if current_user%>
        <a class="btn btn-primary btn-lg" href="#" role="button">Your Gallaries</a>
        <a class="btn btn-success btn-lg" href="#" role="button">Browse Users</a>
      <% else %>
        <a class="btn btn-primary btn-lg" href="#" role="button">Sign In</a>
        <a class="btn btn-success btn-lg" href="#" role="button">Sign Up</a>
      <% end %>
    </p>
  </div>
</div>

<div class="row">
  <h1 class="text-center">Galleries</h1>
  <hr>
</div>
<div class="row">
  <%= render @galleries %>
</div>
