<div class="jumbotron">
  <div class="container">
    <h1>Introducing <em>Captured</em></h1>
    <p>A place for all your photo galleries</p>
    <p class="text-right">ALL YOUR GALLARY ARE MINE!</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
  </div>
</div>
