// Place all the styles related to the galleries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1 p {
  display: inline;
}

.actions {
  padding-bottom: 20px;
}

hr.photo {
  margin: 5px;
}

.caption.photo {
  padding-top: 0;
  
}
